<odoo>
    <data>
        <!--==================== [Root] menu =============================-->
        <menuitem name="My Library" id="my_library_root_menu"/>
        <!--===================================================================-->
        <!--==================== [ books ] menu =============================-->
        <menuitem name="Books" id="library_book_menu" parent="my_library_root_menu" action="library_book_action"/>
        <!--===================================================================-->
        <!--==================== [.............] menu =============================-->

        <!--===================================================================-->
        <!--==================== [..............] menu =============================-->
        <!--===================================================================-->

    </data>
</odoo>